@{
    ViewData["Title"] = "Home Page";
}
 <!-- Main -->
    <main>
        <!-- Features -->
        <section class="features">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="fs-title text-center mt-5 w-50 mx-auto ">
                            <h1>Main Features</h1>
                            <p>There are many variations of passages of Lorem Ipsum available but the majority have
                                suffered alteration in some form.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 card-box mt-5">
                        <i class="fa-solid fa-layer-group"></i>
                        <h1>Crafted for Startups</h1>
                        <p>Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus quisquam
                            numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores.</p>
                    </div>
                    <div class="col-md-4 card-box mt-5">
                        <i class="fa-solid fa-layer-group"></i>
                        <h1>Crafted for Startups</h1>
                        <p>Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus quisquam
                            numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores.</p>
                    </div>
                    <div class="col-md-4 card-box mt-5">
                        <i class="fa-solid fa-layer-group"></i>
                        <h1>Crafted for Startups</h1>
                        <p>Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus quisquam
                            numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores.</p>
                    </div>
                    <div class="col-md-4 card-box mt-5">
                        <i class="fa-solid fa-layer-group"></i>
                        <h1>Crafted for Startups</h1>
                        <p>Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus quisquam
                            numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores.</p>
                    </div>
                    <div class="col-md-4 card-box mt-5 ">
                        <i class="fa-solid fa-layer-group"></i>
                        <h1>Crafted for Startups</h1>
                        <p>Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus quisquam
                            numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores.</p>
                    </div>
                    <div class="col-md-4 card-box mt-5">
                        <i class="fa-solid fa-layer-group"></i>
                        <h1>Crafted for Startups</h1>
                        <p>Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus quisquam
                            numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores.</p>
                    </div>
                </div>

            </div>
        </section>
        <!-- Help -->
        <section class="help">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center w-50 mx-auto mt-5 help-title">
                        <h1>We are ready to help</h1>
                        <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered
                            alteration in some form.</p>

                    </div>
                </div>
                <div class="row">

                </div>
            </div>
        </section>
        <!-- Partnyor -->
        <section class="partnyor">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 icon-box mt-5">
                        <div class="icons mt-5 ">
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-snapchat"></i>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- Crafted -->
        <section class="craft">
            <div class="row">
                <div class="col-md-6 mt-5 w-50">
                    <h1>
                        Crafted for Startup, SaaS and Business Sites.
                    </h1>
                    <p>The main ‘thrust’ is to focus on educating attendees on how to best protect highly vulnerable
                        business applications with interactive panel discussions and roundtables.</p>
                    <ul>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            Premium quality
                        </li>
                        <li> <i class="fa-solid fa-check"></i>
                            No code required
                        </li>
                        <li><i class="fa-solid fa-check"></i>Use for lifetime</li>
                    </ul>
                </div>
                <div class="col-md-6 mt-5">
                    <img src="~/assets/img/about-image.svg" alt="">
                </div>
            </div>

        </section>
        <!-- About -->
        <section class="about">
            <div class="row">
                <div class="col-md-6 mt-5">
                    <img src="~/assets/img/about-image-2.svg" alt="">
                </div>
                <div class="col-md-6 mt-5 about-title ">
                    <div class="title1 w-50">
                        <h1>
                            Bug free code</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                    <div class="title1 w-50">
                        <h1>
                            Bug free code</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                    <div class="title1 w-50">
                        <h1>
                            Bug free code</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- User -->
        <section class="user">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center mt-5 w-50 mx-auto">
                        <div class="user-title">
                            <h1>
                                What Our Users Says
                            </h1>
                            <p>There are many variations of passages of Lorem Ipsum available but the majority have
                                suffered alteration in some form.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="user-card">
                            <div class="icon">
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="user-title">
                                <p>“Our members are so impressed. It's intuitive. It's clean. It's distraction free. If
                                    you're building a community.</p>
                            </div>
                            <div class="user d-flex">
                                <div class="col-md-3 img-user">
                                    <img src="~/assets/img/author-01.png" alt="">
                                </div>
                                <div class="col-md-9 title-info">
                                    <h5>Musharof Chy</h5>
                                    <p>sukransirinov@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="user-card">
                            <div class="icon">
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="user-title">
                                <p>“Our members are so impressed. It's intuitive. It's clean. It's distraction free. If
                                    you're building a community.</p>
                            </div>
                            <div class="user d-flex">
                                <div class="col-md-3 img-user">
                                    <img src="~/assets/img/author-01.png" alt="">
                                </div>
                                <div class="col-md-9 title-info">
                                    <h5>Musharof Chy</h5>
                                    <p>sukransirinov@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="user-card">
                            <div class="icon">
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="user-title">
                                <p>“Our members are so impressed. It's intuitive. It's clean. It's distraction free. If
                                    you're building a community.</p>
                            </div>
                            <div class="user d-flex">
                                <div class="col-md-3 img-user">
                                    <img src="~/assets/img/author-01.png" alt="">
                                </div>
                                <div class="col-md-9 title-info">
                                    <h5>Musharof Chy</h5>
                                    <p>sukransirinov@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- Pricing -->
        <section class="pricing">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pr-title text-center w-50 mx-auto mt-5">
                            <h1>Simple and Affordable Pricing
                            </h1>
                            <p>There are many variations of passages of Lorem Ipsum available but the majority have
                                suffered alteration in some form.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body ">
                                <h5 class="card-title">$40 /mo</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="btn btn-primary">Start Free Trial</a>
                                <ul>
                                    <li><i class="fa-solid fa-check"></i>All UI Components</li>
                                    <li><i class="fa-solid fa-check"></i>Use with Unlimited Projects</li>
                                    <li><i class="fa-solid fa-check"></i>Commercial Use</li>
                                    <li><i class="fa-solid fa-check"></i>Email Support</li>
                                    <li><i class="fa-solid fa-check"></i>Lifetime Access</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body ">
                                <h5 class="card-title">$40 /mo</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="btn btn-primary">Start Free Trial</a>
                                <ul>
                                    <li><i class="fa-solid fa-check"></i>All UI Components</li>
                                    <li><i class="fa-solid fa-check"></i>Use with Unlimited Projects</li>
                                    <li><i class="fa-solid fa-check"></i>Commercial Use</li>
                                    <li><i class="fa-solid fa-check"></i>Email Support</li>
                                    <li><i class="fa-solid fa-check"></i>Lifetime Access</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body ">
                                <h5 class="card-title">$40 /mo</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="btn btn-primary">Start Free Trial</a>
                                <ul>
                                    <li><i class="fa-solid fa-check"></i>All UI Components</li>
                                    <li><i class="fa-solid fa-check"></i>Use with Unlimited Projects</li>
                                    <li><i class="fa-solid fa-check"></i>Commercial Use</li>
                                    <li><i class="fa-solid fa-check"></i>Email Support</li>
                                    <li><i class="fa-solid fa-check"></i>Lifetime Access</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- Comments -->
        <section class="comments">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mt-5 ">
                        <form class="form">
                            <div class="form-title">
                                <h1>Need Help? Open a Ticket</h1>
                                <p>Our support team will get back to you ASAP via email.</p>
                            </div>
                            <div class="form-cont d-flex ">

                                <div class="mb-3 left">
                                    <label for="exampleInputEmail1" class="form-label">Your Name</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder=""
                                        aria-describedby="emailHelp">

                                </div>
                                <div class="mb-3 right">
                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                    <input type="password" class="form-control" placeholder=""
                                        id="exampleInputPassword1">
                                </div>
                            </div>
                            <div class="mb-3 text">
                                <label for="exampleInputPassword1" class="form-label">Your Message</label>
                                <textarea name="" id="" cols="30" rows="10"></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <div class="col-md-4 mt-5">
                        <form class="form2">
                            <div class="form-title">
                                <h1>Need Help? Open a Ticket</h1>
                                <p>Our support team will get back to you ASAP via email.</p>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Your Name</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Email</label>
                                <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>